<div class="contenidor">
  <h1 id="titol">Benvinguts</h1>
  <p id="url">URL</p>
  <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id consequat augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Mauris tincidunt mi neque, at pulvinar sem finibus sed. Donec eget imperdiet odio, pulvinar aliquet leo. In ut urna in augue efficitur ornare id varius ante. Nulla aliquet egestas magna, quis aliquam mi venenatis vitae. Cras ornare feugiat ex sit amet cursus. Donec et lectus non erat facilisis commodo. Sed blandit ante erat. Fusce est mi, faucibus at imperdiet tempor, rhoncus at justo. Maecenas dignissim urna sit amet feugiat porta. Praesent laoreet tortor enim, ut congue lorem placerat ut.
    Integer tortor odio, bibendum a lectus ac, facilisis molestie leo. Duis sit amet ipsum facilisis, laoreet purus id, hendrerit neque. Pellentesque sed libero orci. Aenean vitae efficitur orci, a varius massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec velit tellus, imperdiet nec fringilla vitae, egestas a turpis. Morbi nec fringilla odio. Maecenas consectetur dui et nulla ultrices mollis. Nullam et fringilla ante. Nunc lectus velit, rhoncus at diam in, maximus aliquam sapien. Integer pulvinar vulputate nisl, sed molestie turpis. In quis felis eget dui efficitur suscipit id a sem. Vivamus ut venenatis metus. Sed condimentum bibendum felis, eget auctor orci tempor in.</p>
  <ul>
    <li class="item">Hola</li>
    <li class="item">Caracola</li>
    <li class="item">Bomboclat</li>
    <li class="item">Si</li>
  </ul>

  <table id="taula">
    <tr>
      Hola
    </tr>
    <div id="patata">
      Patata
    </div>
  </table>
</div>
